body {background-color: #ff0000;

color: rgb(0, 0, 0);
font-size: 50px;

}

h1 { 
    color: rgb(255, 106, 0);
}

p{
    color: rgb(255, 255, 255);
}

div {
    background-color: rgb(88, 88, 88);
    padding: 20px;
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    margin: 20px;
    margin-left: auto;
    border-radius: 40px;
   
}

img {
    border-radius: 40px;
}
