.container{
    display:flex;
    background-color: #99ffcc;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.container div{
    background-color:#d1b3ff ;
    margin: 10px;;
    padding:10px;
    font: size 20px;
}
@media (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    
}