body{
    background-color: #9933ff;
    padding: 5px;
}
header{background-color: #00ccff;
    padding: 3px;

}
nav{background-color: #005ce6;
    padding: 5px;

}
div{background-color: #00ffbf;
    padding: 5px;

}
footer{background-color: lime;
    padding: 1px;

}
.fa{color: crimson;

}
.fa-android{
    color: darkgreen;
}
.fa-pinterest{
    color: darkred;
}
.fa-instagram{
    color: purple;
}


